@font-face {
	font-family: 'Russia';
	src: url('./russia18.ttf');
		/* format('truetype'); */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}


.land {
    margin-top: 25em;
}

#main {
    font-size: 7em;
    font-family: 'Russia';
}

.vidbg-box {
    height: 100%;
    width: 100%;
}