@font-face {
	font-family: 'Russia';
	src: url('./russia18.ttf');
		/* format('truetype'); */
}	

html, body{
	padding: 0;
	margin: 0;
}

html{
	height: 100%;

}

body{
	min-height: 100%;
	background: #DCE35B;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

h1	{
	font-family: 'Russia';
}

hr {
	background: white;
}

#clockdiv{
	/* font-family: sans-serif; */
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 25px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	/* background: #00BF96; */
	display: inline-block;
}

#clockdiv div > span{
	border-radius: 3px;
	/* background: #00816A; */
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}