{% extends "bootstrap/base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" /> 
<link rel="stylesheet" href="static/css/styles.css">{% endblock %} 
{% block content %}
<div class="ui inverted segment">
    <div class="ui container">

        <div class="ui inverted massive secondary menu">
            <a class="active item" href="#main">
        Home
    </a>
    <a class="right item">
            Contact us
    </a>
        </div>
    </div>
</div>
<section id="main">
    <div class="ui grid">

        <div class="row">
            <div class="three wide column">
                <div class="ui container">

                </div>
            </div>
            <div class="ten wide column">
                <div class="ui container">

                    <div class="ui inverted segment">
                        <h2 class="text-center">Select a year you would like to know more about!</h2>
                                <form class="" action="/getworldcup" method="get">
                                    <div class="form-group">
                                        <label for="q">Year:</label>
                                        <select name="q" class="form-control" required>
                                            {% for c in range(1,years|length) %}
                                            <option value="{{years[c][0]}}">{{years[c][0]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                <button class="ui inverted red button" type="submit">
                                    World Cup!
                                </button>
                            </form>
                        </div>
                    <div class="ui green massive message text-center">
                            FIFA 2018 Russia World Cup Groups.
                          </div>
                    <div class="ui inverted segment">
                        <div class="ui grid">
                            
                            {% for g in range(1,groups|length) %}
                                <div class="four wide column">
                                <table class="ui selectable inverted table">
                                    <thead>
                                        <tr>
                                            <th>Group {{groups[g][0]}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for t in range(1,groups[g]|length) %}
                                        <tr>
                                            <td>{{groups[g][t]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <div class="ui inverted segment">
                        <h1 class="text-center">2018 Russia Kick-Off</h1>
                        {% for i in range(26)%}
                        <i class="ui futbol icon"></i>
                        {% endfor %}
                        <div id="clockdiv">
                          <div>
                            <span class="days"></span>
                            <div class="smalltext">Days</div>
                          </div>
                          <div>
                            <span class="hours"></span>
                            <div class="smalltext">Hours</div>
                          </div>
                          <div>
                            <span class="minutes"></span>
                            <div class="smalltext">Minutes</div>
                          </div>
                          <div>
                            <span class="seconds"></span>
                            <div class="smalltext">Seconds</div>
                          </div>
                        </div>
                </div>
                <div class="ui inverted segment">
                        <h3 class="text-center">All time Winners!</h3>
                        <table class="ui selectable inverted table">
                            <thead>
                                <tr>
                                    <th scope="col">Winners</th>
                                    <th scope="col"><i class="trophy icon"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for winner in range(0, winners|length-1) %}
                                <tr>
                                    <th scope="row">{{winners[winner][0]}}</th>
                                    <td>{{winners[winner][1]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %} {% block scripts %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="/static/js/effects.js"></script>
{% endblock %}