{% extends "bootstrap/base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" /> {% endblock %} {% block content %}
<div class="ui inverted segment">
    <div class="ui container">

        <div class="ui inverted massive secondary menu">
            <a class="item">
        Home
    </a>
            <a class="active item">
      The {{year}} World Cup
    </a>
    <a class="right item">
            Contact us
    </a>
        </div>
    </div>
</div>
<div class="ui grid">

    <div class="row">
        <div class="three wide column">
            <div class="ui container">
                <div class="ui piled segment">
                    <h3>All teams competing in the {{year}} World Cup.</h3>
                    <div class="ui one column grid">
                        <div class="sixteen wide column">
                            <div class="ui container">
                                <button id="allteams" class="fluid ui red inverted button" type="button"> Click to see!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ten wide column">
            <div class="ui container">
                <div class="ui piled segment">
                    <div class="ui container">
                        <h1 class="text-center">The {{year}} World Cup summarized!</h1>
                        <h2 class="ui header">Dear Futebol fans,</h2>
                        <hr>
                        <h2>
                          {{data[0][0]}} was the year that <span>{{data[0][2]}}</span> .... Oh... the Beautiful {{data[0][2]}} hosted the
                          {{wc_instace}}{% if wc_instace > 1 %}th{% endif %}
                          {% if wc_instace == 1 %}st{% endif %} edition
                          of the World Cup.</h2>
                          <h2>Throughout the competition, {{data[0][7]}} goals were scored among the {{data[0][8]}}
                          teams that qualified in a total of {{data[0][9]}} matches!</h2>
                        <h2>A total of {{data[0][10]}} fans attend the fixtures once again proving that futebol is the beautiful game!</h2>
                        <div class="ui four statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="futbol outline icon"></i> {{data[0][7]}}
                                </div>
                                <div class="label">
                                    Goals
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    {{data[0][10]}}
                                </div>
                                <div class="label">
                                    Fans
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    {{data[0][8]}}
                                </div>
                                <div class="label">
                                    Teams
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    <img src="/images/avatar/small/joe.jpg" class="ui circular inline image"> {{data[0][9]}}
                                </div>
                                <div class="label">
                                    Matches
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="three wide column">
            <div class="ui container">
                <div class="ui inverted piled segment">
                        <table class="ui selectable inverted table">
                                <thead>
                                  <tr>
                                    <th><i class="trophy icon"></th>
                                    <th class="right aligned">Country</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(3,7) %}
                                  <tr>
                                    <td>{{i - 2 }}</td>
                                    <td class="right aligned">{{data[0][i]}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
            <div class="ui container">
                <div class="ui segment">

                </div>
            </div>
        </div>
        <div class="ten wide column">
            <div class="ui container">
                <div class="ui segment">

                    {% for n in range(0,news["articles"]|length) %}
                    <ul>
                        <li>{{news["articles"][n]["title"]}}</li>
                        <!-- <img src="{{news["articles"][n]["urlToImage"]}}"> -->
                        <a href="{{news["articles"][n]["url"]}}">Read it at {{news["articles"][n]["source"]["name"]}}</a>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="three wide column">
            <div class="ui container">
                <div class="ui segment">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui longer modal">
    <i class="close icon"></i>
    <div class="header">
        Participant teams in the {{year}} World Cup.
    </div>
    <div class="image content">
        <div class="ui container">
            <form class="" action="/get_roster" method="get">
              <input type="text" value={{year}} name="year" style="visibility:hidden;">
                <div class="ui five column grid">
                    {% for team in participants %}
                    <div class="three wide column">
                        <button class="fluid ui inverted red button" type="submit" name="team" value='{{participants[team]}}'>{{team}}</button>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="actions">
    <div class="ui red deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div> -->
</div>
{% endblock %} {% block scripts %} {{ super ()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="/static/js/effects.js"></script>
{% endblock %}