{% extends "bootstrap/base.html" %} {% block styles %} {{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" /> 
<link rel="stylesheet" href="static/css/styles.css">{% endblock %} {% block content %}
<div class="ui inverted segment">
    <div class="ui container">

        <div class="ui inverted massive secondary menu">
            <a class="item" href="/home">
        Home
    </a>
            <a class="active item">
        Squad!
    </a>
            <a class="right item">
      Contact us
    </a>
        </div>
    </div>
</div>
<div class="ui grid">
    <div class="row">
            <div class="ui container">
                <div class="ui inverted segment">
                        <table class="ui inverted selectable table">
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th>Goals</th>
                                    <th>Yellow Cards</th>
                                    <th>Red Cards</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for player in roster%}
                                    <tr>
                                      <td>{{ player }}</td>
                                      <td>{{ roster[player]["Number"] }}</td>
                                      <td class="">{{ roster[player]["Goals"] }}</td>
                                      <td class="">{{ roster[player]["Yellow Cards"] }}</td>
                                      <td class="">{{ roster[player]["Red Cards"] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>

{% endblock %} {% block scripts %} {{ super ()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type="text/javascript" src="/static/js/effects.js"></script>
{% endblock %}